<header id="main-header" class="header-menu__background header-menu__background--black">
  <nav class="header-menu__nav">
    <img src="/assets/img/brand.png" alt="logo" class="header-menu__nav-logo">
    <ul class="header-menu__nav-list">
      <li class="header-menu__nav-items"><a href="#" class="header-menu__nav-items-link"><i class="fa fa-user header-menu__nav-items-icon" aria-hidden="true"></i>Login</a></li>
      <li class="header-menu__nav-items"><a href="#" class="header-menu__nav-items-link"><i class="fa fa-shopping-bag header-menu__nav-items-icon" aria-hidden="true"></i>Items</a></li>
      <li class="header-menu__nav-items"><a href="#" class="header-menu__nav-items-link"><i class="fa fa-search header-menu__nav-items-icon" aria-hidden="true" aria-label="search"></i></a></li>
      <li class="header-menu__nav-items"><a href="#" class="header-menu__nav-items-link"><i class="fa fa-bars header-menu__nav-items-icon" aria-hidden="true" aria-label="header-menu"></i></a></li>
    </ul>
  </nav>
 
  <div [ngSwitch]="opt_template">
      <div *ngSwitchCase="block.homepage" class="header-menu__fix-template">
        <button (click)="clickRight()" type="button" class="header-menu__carousel-arrow header-menu__carousel-arrow--left">
          <img src="/assets/img/arrow_left.png" alt="Left arrow">
        </button>
        <button (click)="clickLeft()" type="button" class="header-menu__carousel-arrow header-menu__carousel-arrow--right">
            <img src="/assets/img/arrow_right.png" alt="Right arrow">
        </button>
        <div>

        </div>
        <a href="#" class="header-menu__carousel-link">Learn more about great deals</a>
            <div *ngFor="let item of resources.homepage.urls" [class.header-menu__carousel-progress-step-elements--active]="item[1]" class="header-menu__carousel-progress-step-elements"></div>
          </div>
      <div *ngSwitchCase="block.collection" class="header-menu__fix-template">
        <div class="header-menu__collection">
          <p class="header-menu__collection-header-top">most wanted</p>
          <h2 class="header-menu__collection-header">New collection</h2>
          <a href="#" class="header-menu__collection-header-link">Browse collection</a>
        </div>
      </div>
  </div>
</header>
