<footer>
  <section class="footer__container footer__container--center">
    <header class="footer__header">Get us on</header>
    <nav class="fild">
      <ul class="footer__container-social-media"> 
        <li class="footer__social-media-item">
          <a href="#" class="footer__social-media-link">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li class="footer__social-media-item">
          <a href="#" class="footer__social-media-link">
            <i class="fa fa-pinterest-p" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#" class="footer__social-media-link">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li class="footer__social-media-item">
          <a href="#" class="footer__social-media-link">
            <i class="fa fa-google-plus" aria-hidden="true"></i>
          </a>
        </li>
        <li class="footer__social-media-item">
          <a href="#" class="footer__social-media-link">
            <i class="fa fa-youtube-play" aria-hidden="true"></i>
          </a>
        </li>
        <li class="footer__social-media-item">
          <a href="#" class="footer__social-media-link">
            <i class="fa fa-tumblr" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </nav>
  </section>
  <div class="footer__container-padding">
    <section class="footer__container footer__container--alt-color">
        <nav class="footer__container-nav">
          <header class="footer__container-nav-header">Questions?</header>
          <ul>
            <li><a href="#" class="footer__container-nav-link">Help</a></li>
            <li><a href="#" class="footer__container-nav-link">Track Order</a></li>
            <li><a href="#" class="footer__container-nav-link">Returns</a></li>
          </ul>
        </nav>
        <nav class="footer__container-nav">
          <header class="footer__container-nav-header">Where to buy</header>
          <ul>
            <li><a href="#" class="footer__container-nav-link">Store Locator</a></li>
            <li><a href="#" class="footer__container-nav-link">Wishlist</a></li>
            <li><a href="#" class="footer__container-nav-link">Gift Cards</a></li>
          </ul>
        </nav>
        <nav class="footer__container-nav">
          <header class="footer__container-nav-header">About us</header>
          <ul>
            <li><a href="#" class="footer__container-nav-link">Our Story</a></li>
            <li><a href="#" class="footer__container-nav-link">Careers</a></li>
            <li><a href="#" class="footer__container-nav-link">Affiliates</a></li>
          </ul>
        </nav>
        <div class="footer__container-info">
          <article>
            <header class="hide">Credit card</header>
            <img src="assets/img/support_credit_cards.png" alt="credit cards">
          </article>
          <article>
            <header class="hide"></header>
            <img src="assets/img/brand.png" alt="logo">
            <p class="footer__logo-text">Photoshop Theme</p>
          </article>
        </div>
      </section>
    </div>
  </footer>