<section class="home-upper__container">
  <article class="home-upper__lookbook">
      <div class="home-upper__lookbook-link-container">
        <a href="#" class="home-upper__lookbook-link"><div class="home-upper__lookbook-link--bold">MEN'S</div>lookbook</a>
      </div>
      <img src="https://dummyimage.com/350x390/25d9cd/fff&text=+++" class="home-upper__lookbook-img">
  </article>
  <article class="home-upper__newsletter">
      <app-newsletter></app-newsletter>
  </article>
  <article class="home-upper__lookbook">
      <div class="home-upper__lookbook-link-container">
        <a href="#" class="home-upper__lookbook-link"><div class="home-upper__lookbook-link--bold">WOMEN'S</div>lookbook</a>
      </div>
      <img src="https://dummyimage.com/350x390/25d9cd/fff&text=+++" class="home-upper__lookbook-img">
  </article>
</section>
<section class="home-brands__container">
  <app-top-brands></app-top-brands>
</section>
<section class="home-adverts__container">
  <app-adverts></app-adverts>
</section>
<section class="home-preview__container">
  <app-product-preview></app-product-preview>
</section>

<section class="home-opinion__container">
  <app-opinion></app-opinion>
<section>