<aside>
  <div class="adverts__contrent">
      <div class="adverts__column adverts__column--border">
          <div class="adverts__item">
              <a class="adverts__redirect adverts__redirect-first" href="#"></a>
          </div>
      </div>
      <div class="adverts__column">
          <div class="adverts__item adverts__item--border">
              <a class="adverts__redirect adverts__redirect-second" href="#"></a>
          </div>
          <div class="adverts__item">
              <a class="adverts__redirect adverts__redirect-third" href="#"></a>
          </div>
      </div>
  </div>
</aside>