<article class="newsletter__container">
  <div class="newsletter newsletter__logo"><i class="fa fa-envelope-o center" aria-hidden="true"></i></div>
  <header><h2 class="newsletter newsletter__header">Get our newsletter</h2></header>
  <p class="newsletter newsletter__text">Join our newsletter to receive</p>
  <p class="newsletter newsletter__text">Special discounts</p>
  <label for="newsletter-email">
    <div class="display-none">
      <span>Email:</span>
      <strong><abbr title="required">*</abbr></strong>
    </div>
    <input required id="newsletter-email" class="newsletter newsletter__email" type="email" placeholder="Enter your email">
  </label>
  <input id="newsletter-submit" class="newsletter newsletter__submit" type="submit" value="Subscribe">
</article>