@import '../variables.scss';

@media(max-width: 960px) {
    .sharpen-your-look__container{
        width: 90%;}
    }

    .sharpen-your-look__header{
        font-size: 2em;
        }
    


.sharpen-your-look{
    &__container{
        width: 70%;
        margin: auto;
        text-align: justify;
        text-align-last: center;
        margin-top: 50px;}

    &__header{
        font-size: 4em;
        font-weight: bold;
        margin-bottom: 20px;
        text-align: center;}
        

    &__line{
        width: 80px;
        height: 5px;
        background-color: $pc;
        margin: auto;}

    &__text{
        margin-top: 35px;
        opacity: 0.4;}
    }
