<aside class="advert-one__container">
  <img class="advert-one__img" src="https://dummyimage.com/1370x430/23cbfa/1f1fd9&text=+++" >
  <div class="advert-one__container-text">
    <a class="advert-one__redirect" href="#">
      <header class="advert-one__text">
          <p>All summer</p>
          <div class="advert-one__text-center">
            <p class="advert-one__text-center-small">Get</p>
            <p class="advert-one__text-center-pro">25</p>
            <p class="advert-one__text-center-small">Off!</p>
          </div>
          <p>Collection</p>
      </header>
    </a>
  </div>
</aside>