<article class="top-brands__container">
  <div class="top-brands__container-items">
      <div class="top-brands__header-bar"></div>
      <header class="top-brands__header">Top brands</header>
      <div class="top-brands__header-bar"></div>
  </div>
  <div class="top-brands__container-items">
    <a href="#" class="top-brands__img-link"><img class="top-brands__img" alt="brand img" src="https://dummyimage.com/200x100/273ed1/00f7ff&text=top+brand"></a>
    <a href="#" class="top-brands__img-link"><img class="top-brands__img" alt="brand img" src="https://dummyimage.com/200x100/273ed1/00f7ff&text=top+brand"></a>
    <a href="#" class="top-brands__img-link"><img class="top-brands__img" alt="brand img" src="https://dummyimage.com/200x100/273ed1/00f7ff&text=top+brand"></a>
    <a href="#" class="top-brands__img-link"><img class="top-brands__img" alt="brand img" src="https://dummyimage.com/200x100/273ed1/00f7ff&text=top+brand"></a>
    <a href="#" class="top-brands__img-link"><img class="top-brands__img" alt="brand img" src="https://dummyimage.com/200x100/273ed1/00f7ff&text=top+brand"></a>
  </div>
  <div class="top-brands__container-items">
      <i class="fa fa-circle top-brands__circle" aria-hidden="true"></i>
      <i class="fa fa-circle top-brands__circle" aria-hidden="true"></i>
      <i class="fa fa-circle-thin top-brands__circle top-brands__circle--selected" aria-hidden="true"></i>
      <i class="fa fa-circle top-brands__circle" aria-hidden="true"></i>
      <i class="fa fa-circle top-brands__circle" aria-hidden="true"></i>
  </div>
</article>